# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
Pizzagate.iml
/pizzagate_spider/json2xml-2.2.0/
pizzagate_spider/json2xml-2.2.0/
pizzagate_spider/pizzagate_spider/__pycache__/
pizzagate_spider/pizzagate_spider/modules/__pycache__/dailymail.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/domain_specifications.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/dupe_filter.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/latimes.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/nytimes.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/start_urls.cpython-36.pyc
pizzagate_spider/pizzagate_spider/modules/__pycache__/thelastamericanvagabond.cpython-36.pyc
pizzagate_spider/src/
pizzagate_spider/test.db
